* {
  font-family: "Eczar", serif;
  font-family: "Kanit", sans-serif;
  font-family: "Volkhov", serif;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body { */
  /* background-image: url("https://i.pinimg.com/736x/b5/ad/de/b5adde334737bed0c3f28b38f6f84d13.jpg"); */
  /* background: #035397; */
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 15%,
    rgba(131, 145, 154, 1) 100%
  ); */
/* } */
